.listOrder {
    width: 100%;
    min-height: 8%;
    height: 50px;
    font-size: 16px;
    border: 0.5px solid #d4d4d4;
    box-shadow: 1px 0.5px 0.5px 1px rgba(155, 155, 155, 0.25);
    overflow: auto;
    tr
    {   
        height: 55px;
        text-align: center;
    }
    .btnCancelChild {
        padding: 10px;
        margin: 10px;
        font-weight: bold;
        background-color: grey;
        color: #fff;
        cursor: not-allowed;
        border-radius: 30px;
    
        &:hover {
            cursor: not-allowed;
            opacity: 100%;
            background-color: grey;
            color: #fff;
        }
    }

    .btnCancel {
        padding: 10px;
        margin: 10px;
        border-radius: 39px;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .btnCancelDisable {
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        background-color: grey;
        color: #fff;
        cursor: not-allowed;
        border-radius: 39px;

        &:hover {
            cursor: not-allowed;
            opacity: 100%;
            background-color: grey;
            color: #fff;
        }
    }
    
    .btnCancel:hover {
        opacity: 85%;  
    }
}
