.listOrder {
    width: 100%;
    min-height: 8%;
    height: 3.125rem;
    font-size: 1rem;
    border: 0.0313rem solid #d4d4d4;
    box-shadow: 0.0625rem 0.0313rem 0.0313rem 0.0625rem rgba(155, 155, 155, 0.25);
    overflow: auto;
    tr
    {   
        height: 3.4375rem;
        text-align: center;
    }
    .btnCancelChild {
        padding: 0.625rem;
        margin: 0.625rem;
        font-weight: bold;
        background-color: grey;
        color: #fff;
        cursor: not-allowed;
        border-radius: 1.875rem;
    
        &:hover {
            cursor: not-allowed;
            opacity: 100%;
            background-color: grey;
            color: #fff;
        }
    }

    .btnCancel {
        padding: 0.625rem;
        margin: 0.625rem;
        border-radius: 2.4375rem;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    .btnCancelDisable {
        font-weight: bold;
        padding: 0.625rem;
        margin: 0.625rem;
        background-color: grey;
        color: #fff;
        cursor: not-allowed;
        border-radius: 2.4375rem;

        &:hover {
            cursor: not-allowed;
            opacity: 100%;
            background-color: grey;
            color: #fff;
        }
    }
    
    .btnCancel:hover {
        opacity: 85%;  
    }
}
