@mixin limitText2 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes animation-1295qio {
    0% {
        top: 0;
    }

    100% {
        top: -0.625rem;
    }
}

.Product {
    position: relative;
    width: 100%;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    // box-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25);
    &:hover {
        cursor: pointer;
        top: -0.625rem;
        animation: 400ms ease 0s 1 normal none running animation-1295qio;
    }
    .imgProduct
    {
        height: 15.3125rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 1.25rem;
            border-top-left-radius: 1.25rem;
        }
    }

    .imgProduct:hover {
        cursor: pointer;
        border-top-right-radius: 1.25rem;
        border-top-left-radius: 1.25rem;
    }

    .imgProduct:hover img {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
    
    .productBelow {
        padding: 0.3125rem 0.9375rem;
        font-size: 0.875rem;
        color: #000;
        .productName {
            height: 2.4375rem;
            @include limitText2;
        }

        .productInfo {
            display: flex;
            justify-content: space-between;
            .productNewPrice {
                font-weight: bold;
                color: #E280AD;
                text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(103 0 76 / 13%);

            }

            .productPrevPrice {
                color: #999;
                text-decoration: line-through;
                margin-right: 0.3125rem;
                font-size: 0.75rem;
                @include limitText2;
            }

            .productRate {
                display: flex;
                align-items: center;
            }
        }

        .btnProduct {
            margin: 0.625rem 0;
            width: 100%;
            background-color: #be226b;
            color: #fff;
            font-size: 0.8125rem;
        }

        .btnProduct:hover {
            background-color: #ee1f6b;
            opacity: 95%;
        }
    }
}
