.titleType {
    display: flex;
    width: 100%;
    height: 3.125rem;
    padding: 1.25rem 1.25rem 0;
    font-size: 1.125rem;
    font-weight: bold;
    h3 {

    }
    .titleOrder {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding-left: 25%;
        h3 {

        }
    }
}

.cartTitle {
    margin: 4.375rem 0 0.625rem 3.125rem;
    color: #000;
    font-weight: bold;
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
}

.cartContainer {
    min-height: 34.375rem;
    margin: 0 3.125rem 0.625rem 3.125rem;
    background-color: #fff;
    box-shadow: 0.0306rem 0.0599rem 0.2474rem rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
}

.cartContent {
    width: 100%;
}

.cartFlex {
    display: flex;
}

.emptyCartContainer {
    display: block;
    height: 28.125rem;
    margin: auto;
    font-size: 1.125rem;
    text-align: center;
}

.shippingFree {
    color: green;
    font-weight: bold;
}

.checkOut {
    border: 0.0625rem solid #f2f2f2;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
    label {
        font-weight: 600;
    }
    h1
    {
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 0.625rem;
    }
    &>h1 {
        text-align: center;
        font-weight: bold;
    }

    input {
        cursor: pointer;
        width: 100%;
        height: 2.5rem;
        border: 0.0625rem solid #e5e5e5;
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.19);
        margin: 0.625rem 0;
        outline: none;
        font-size: 0.9375rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        border-radius: 0.625rem;
        -webkit-border-radius: 0.625rem;
        -moz-border-radius: 0.625rem;
        -ms-border-radius: 0.625rem;
        -o-border-radius: 0.625rem;
    }

    .baseSub {
        font-size: 0.9375rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        h1 {
            padding-bottom: 0;
        }
        h3 {
            font-size: 1rem;
            width: 50%;
            text-align: right;
        }
    }
    .shipFee {
        h1 {

        }
        h3 {

        }
    }
    .estimateTotal {
        h1 {

        }
        h3 {
            font-weight: bold;
            font-size: 1.0625rem;
            color: red;
        }
    }
    .btnParentCheck {
        margin: 0.625rem 0 0;
        width: 100%;
        background-color: #f46a2b;
        color: #fff;
        font-size: 1rem;
        &:hover {
            opacity: 80%;
        }
        .btnCheckout {
            justify-content: center;
        }
    }
}