.recommendedFlex {
    display: flex;
    margin-left: 3.125rem;
}

.recommendedTitle {
    margin-left: 3.125rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.btns {
    padding: 0.625rem 1.25rem;
    margin-right: 0.375rem;
    background: transparent;
    border: none;
    border: 0.0375rem solid #ccc;
    border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    color: #323232;
    cursor: pointer;
}
