.sidebarTitle {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0.3125rem;
}

.categoryContainer {
    margin-left: -2.8125rem;
}

.sidebarItems {
    margin-top: 1.25rem;
}

.sidebarLabelContainer {
    display: block;
    position: relative;
    padding-left: 2.1875rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebarLabelContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebarLabelContainer:hover input~.checkmark {
    background-color: #ccc;
}

.sidebarLabelContainer input:checked~.checkmark {
    background-color: #2196f3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.sidebarLabelContainer input:checked~.checkmark::after {
    display: block;
}

.sidebarLabelContainer .checkmark::after {
    top: 0.4rem;
    left: 0.4rem;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: white;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}