
.btn {
    width: max-content;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.19);
    &:hover {
        cursor: pointer;
    }
    &:hover>a{
        border-radius: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        -ms-border-radius: 1.25rem;
        -o-border-radius: 1.25rem;
        transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
    }
}

.btnLink {
    padding: 1.25rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: bold;
    user-select: none;
}

.cartIcon {
    position: relative;
    top: -0.0625rem;
    left: -0.3125rem
}

.classDisable {
    &:hover {
        opacity: 100% !important;
    }
}

.disabled {
    background-color: #828282;
    border-radius: 1.25rem;
    &:hover {
        cursor: not-allowed;
        background-color: #828282;
    }
}
