.imgDetail {
    height: 31.25rem;
    display: flex;
    justify-content: center;
    margin: 1.25rem;
    box-shadow: 0.0306rem 0.1224rem 0.3099rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    img{
        height: 100%;
    }
}

.listImgDetail {
    margin: 0 0.625rem 1.25rem;
    display: flex;
    justify-content: space-around;
    height: 6.25rem;
    overflow: hidden;
    .imgDetail1 {
        width: 5.625rem;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        overflow: hidden;
        -webkit-border-radius: 0.625rem;
        -moz-border-radius: 0.625rem;
        -ms-border-radius: 0.625rem;
        -o-border-radius: 0.625rem;
        box-shadow: 0.0306rem 0.1161rem 0.3099rem rgba(0, 0, 0, 0.25);
        img{
            height: 100%;
        }
    }

}

.productName {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.3125rem;
}

.rateStar {
    display: flex;
    padding-bottom: 0.3125rem;
    font-size: 1rem;
    .star {
        padding-right: 1.25rem;
        font-size: 1.125rem;
    }
}

.productPrice {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    .newPrice {
        padding-right: 1.25rem;
        font-weight: bold;
        color: #E280AD;
    }

    .prevPrice {
        text-decoration: line-through;
        color: #9e9e9e;
        font-weight: 300;
    }
}

.productInfo {
    font-size: 1rem;
    padding-bottom: 1.25rem;
    h3 {
        display: flex;
        padding: 0.3125rem 0;
        font-weight: bold;
        .firstP {
            color: green;
            font-weight: bold;
        }
        p {
            padding-left: 0.3125rem;
            font-weight: normal;
        }
    }
    .productDescription {
        width: 99%;
    }
}

.productColor {
    display: flex;
    align-items: center;
    h1 {
        font-size: 1.125rem;
        font-weight: bold;
        color: lightcoral;
        padding-right: 1.25rem;
    }
    .listColor {
        .container {
            position: relative;
            padding-left: 2.1875rem;
            margin-bottom: 0.75rem;
            cursor: pointer;
            font-size: 1.375rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover input ~ .checkmark {
                opacity: 80%;
            }
            &:hover input ~ .checkmark2 {
                opacity: 80%;
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 1.5625rem;
                width: 1.5625rem;
                background-color: #eee;
                border-radius: 50%;
            }
            .checkmark2 {
                position: absolute;
                top: 0;
                left: 0;
                height: 1.5625rem;
                width: 1.5625rem;
                background-color: #eee;
                border-radius: 50%;
            }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            .checkmark2:after {
                content: "";
                position: absolute;
                display: none;
            }
            input:checked ~ .checkmark:after {
                display: block;
            }
            input:checked ~ .checkmark2:after {
                display: block;
            }
            .checkmark:after {
                top: 0.4688rem;
               left: 0.4688rem;
               width: 0.5rem;
               height: 0.5rem;
               border-radius: 50%;
               background: white;
            }
            .checkmark2:after {
                top: 0.5rem;
               left: 0.5rem;
               width: 0.5rem;
               height: 0.5rem;
               border-radius: 50%;
               background: black;
            }
            .firstColor {
                background-color: #E280AD;
            }
            .secondColor {
                background-color: black;
            }
            .thirdColor {
                background-color: red;
            }
        }
    }
}

.quantity {
    font-size: 1.125rem;
    font-weight: bold;
    color: lightcoral;
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
}

.btnAdd {
    padding-top: 1.25rem;
    .customBtn {
        width: 50%;
        margin: 0;
        background-color: #E280AD;
        font-size: 1.125rem;
        color: #fff;
        &:hover {
            opacity: 85%;

        }
    }
}

.breadcrumb {
    margin: 4.375rem 0 0.625rem 3.125rem;
    color: #999;
    font-weight: 500;
    font-size: 1.125rem;
}

.productContainer {
    margin: 0 3.125rem 0.625rem 3.125rem;
    background-color: #fff;
    box-shadow: 0.0306rem 0.0599rem 0.2474rem rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.availabilityText {
    font-weight: 400;
}

.colorSwatch {
    background-color: var(--color);
    border: 0.0313rem solid rgba(0, 0, 0, 0.25);
    box-shadow: 0.0306rem 0.1224rem 0.3099rem rgba(0, 0, 0, 0.25);
}

.colorSwatchDefault {
    border: 0.0625rem solid transparent;
    box-shadow: 0.0306rem 0.1224rem 0.3099rem rgba(0, 0, 0, 0.25);
}