.sectionContact {
    font-size: 1.5rem;
    background-image: url('~/assets/Contact/bgContact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 21.5625rem;
    background-position-y: 70%;
    h1 {
        font-size: 2.8125rem;
        font-weight: bold;
        color: #fff;
    }

    ol {
        color: #fff;
        display: flex;
        justify-content: center;
        li {
            font-weight: 400;
            padding: 0 1.25rem;
            &::before {
                content: '';
                float: left;
                padding-right: 2rem;
                color: #6c757d;
                content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
            }
            &:hover {
                opacity: 80%;
                color: #f8508d;
                cursor: pointer;
            }
        }
        li:first-child::before {
            color: transparent;
        }
        li:last-child {
            color: rgb(71, 64, 216);
            font-weight: bold;
            cursor: default;
            opacity: 100%;
        }
    }
}

.info {
    height: 31.25rem;
    font-size: 1.125rem;
    &>div>h1 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        color: #F2BED1;
        text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
        padding-bottom: 0.625rem;
    }
    p {
        text-align: center;
        padding-bottom: 1.25rem;
    }
}

.baseInput {
    cursor: default;
    width: 100%;
    height: 4.375rem;
    border: 0.0625rem solid #e5e5e5;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.19);
    margin: 0.625rem 0;
    outline: none;
    font-size: 1.125rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.btnSend {
    margin-left: 0;
    margin-top: 0.625rem;
    background-color: orange;
    color: #fff;
    height: 3.75rem;
    width: 100%;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    &:hover {
        opacity: 80%;
        background-color: orange;
    }
}

.address {
    padding: 1.25rem;
    align-items: center;
    display: flex;
    margin-top: 0.625rem;
    margin-left: 1.875rem;
    margin-bottom: 1.7188rem;
    border-radius: 0.625rem;
    height: 7.5rem;
    color: #6c757d;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.19);
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    font-size: 1.125rem;
    .icon {
        font-size: 1.875rem;
        margin-right: 1.25rem;
    }
    &>div>h1 {
        font-weight: bold;
    }
}

.sectionContactHeight {
    height: 21.5625rem;
}

.infoSection {
    padding: 2.5rem;
    height: 81.25rem;
}

.infoContainer {
    height: 78.125rem;
    border: 0.0313rem solid #cecece;
    background-color: #f4f4f4;
    border-radius: 1.875rem;
    padding: 1.875rem 2.5rem;
}

.iframeMap {
    height: 31.25rem;
    width: 100%;
    border-radius: 1.25rem;
    border: 0.0625rem solid #cecece;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.contactRow {
    height: 18.75rem;
    padding-top: 3.125rem;
}

.textareaInput {
    height: 9.375rem;
    padding-top: 0.625rem;
}