.comments {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
    margin-top: 1.25rem;
  }
  
.commentsTitle {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: rgb(217, 119, 169);
  font-size: 2.1875rem;
  text-shadow: rgba(0, 0, 0, 0.4) 0.0625rem 0.125rem 0.125rem;
}

.commentsContainer {
  margin-top: 2.5rem;
}

.commentFormTitle {
  font-size: 1.375rem;
}

.commentFormTextarea {
  width: 100%;
  height: 5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: 0.0625rem solid rgb(169, 169, 160);
  outline: none;
  padding-left: 0.625rem;
  padding-top: 0.3125rem;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  box-shadow: 0.0625rem 0.0625rem 0.25rem 0 rgba(0,0,0,0.2);

}

.commentFormButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: rgb(59, 130, 246);
  border-radius: 0.5rem;
  color: white;
}

.commentFormButton:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.commentFormButton:disabled {
  opacity: 0.7;
  cursor: default;
}

.commentFormCancelButton {
  margin-left: 0.625rem;
}

.comment {
  display: flex;
  margin-bottom: 0.9375rem;
  padding: 1.25rem;
  border: 0.0625rem solid #cccccc;
  box-shadow: 0.0625rem 0.0625rem 0.25rem 0 rgba(0,0,0,0.2);
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

.commentImageContainer {
  margin-right: 0.75rem;
}

.commentImageContainer img {
  border-radius: 3.125rem;
}

.commentRightPart {
  width: 100%;
  margin-top: -0.5rem;
}

.commentContent {
  display: flex;
  div:last-child {
    padding-top: 0.125rem;
    display: flex;
    align-items: center;
  }
}

.commentAuthor {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  color: rgb(59, 130, 246);
}

.commentText {
  font-size: 1.125rem;
}

.commentActions {
  display: flex;
  font-size: 0.75rem;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 0.5rem;
}

.commentAction {
  margin-right: 0.5rem;
}

.commentAction:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 1.25rem;
}
  