@mixin btn {
    width: 50%;
    margin: auto;
    margin-top: 1.25rem;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    color: #fff;
}

.btnEdit {
    @include btn;
    margin-right: 10%;
    background-color: lightcoral;
    &:hover {
        background-color: rgb(241, 108, 108);
    }
}

.btnUpdate {
    @include btn;
    background-color: rgb(98, 202, 98);
    &:hover
    {
        background-color: rgb(77, 176, 77);
    }
}

.profileContainer {
    overflow: hidden;
    height: 37.5rem;
    margin: 5.625rem 3.125rem 0.625rem 3.125rem;
    background-color: #fff;
    box-shadow: 0.0306rem 0.0599rem 0.2474rem rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
}

.profileBorder {
    border-right: 0.125rem solid #ececec;
}