.avataUser {
    height: 50%;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    .imgAva {
        margin: 1.875rem;
        height: 60%;
        img {
            border: 0.125rem solid #768aa3;
            height: 100%;
            box-shadow: 0.125rem 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.19);
            border-radius: 9.375rem;
            -webkit-border-radius: 100%;
            -moz-border-radius: 9.375rem;
            -ms-border-radius: 9.375rem;
            -o-border-radius: 9.375rem;
            margin: auto;
}
    }
    form {
        width: 100%;
        text-align: right;
    }
}

.userInfo {
    display: flex;
    align-items: center;
    height: 9%;
    border-top: 0.0313rem solid #aaadb0;
    border-bottom: 0.0313rem solid #aaadb0;
    margin-bottom: 1.25rem;
    color: #000;
    &:hover>h1, &:hover .icon{
        transform: translateX(0.625rem);
        transition: transform ease 0.3s;
        -webkit-transition: transform ease 0.3s;
        -moz-transition: transform ease 0.3s;
        -ms-transition: transform ease 0.3s;
        -o-transition: transform ease 0.3s;
        -webkit-transform: translateX(0.625rem);
        -moz-transform: translateX(0.625rem);
        -ms-transform: translateX(0.625rem);
        -o-transform: translateX(0.625rem);
        // color: rgb(217, 119, 169);
    }
    .icon {
        font-size: 1.5625rem;
        padding-left: 1.25rem;
        flex: 1;
    }
    .history {
        // color: rgb(186, 48, 48);
    }
    h1{
        padding-left: 1.25rem;
        font-size: 1.0625rem;
        height: 3.3125rem;
        line-height: 3.3125rem;
        flex: 10;
        // text-shadow: rgba(199, 199, 199, 0.2) 0.0625rem 0.0625rem 0.125rem;
        font-weight: 500;
    }
}

.deleteLink {
    color: red;
}