.homeBgColor {
    height: 700px;
    background-color: #FDCEDF;
    .titleWelcome {
        padding-top: 100px;
    }

    .titleWelcome, .contentWelcome {
        width: 530px
    }
    .img1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 2995px;
        height: 1071.7px;
    }
}