@mixin limitText3 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin limitText4 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin limitText5 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeBgColor {
    height: 55vw;
    overflow: hidden;
    position: relative;
    .imgContainer {
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: -30%;
        .img1 {
          width: 100%; 
          height: auto;
        }
        .hiddenThumbnailImg {
            position: absolute;
            left: -624.9375rem;
            width: 0.0625rem;
            height: 0.0625rem;
        }
    }
}

.titleWelcome, .contentWelcome {
    margin-left: 6.25rem;
}

.titleWelcome {
    margin-top: 6.3125rem;
    color: #F2BED1;
    text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    font-size: 3.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: max-content;
}

.contentWelcome {
    width: 41.25rem;
    font-size: 1.25rem;
    @include limitText4;
}

.leftWelcome {
    position: absolute;
    top: 0;
    
    .contactWelcome {
        margin: 0.9375rem 0 0 43%;
        .btnWelcome {
            background-color: #ec8bc2;
            color: #fff;
            &:hover {
                opacity: 90%;
            }
        }
    }

    .leftImg {
        position: absolute;
        top: 102%;
        left: 30%;
        img{
            height: 20.3125rem;
        }
    }
}

.rightWelcome {
    position: absolute;
    left: 57%;
    top: 15%;

    .productWelcome {
        width: 36vw;
    }

}

@mixin btn {
    margin: 0;
    width: 100%;
    background-color: #be226b;
    color: #fff;
    font-size: 1rem;
    &:hover {
        opacity: 80%;
    }
}

.bestSellerFrame {
    width: 69%;
    height: 35.41875rem;
    position: absolute;
    top: 50vw;
    left: 15.1%;
    border-radius: 1.875rem;
    background-color: #F4FBFC;
    box-shadow: 0.0625rem 0.25rem 2.25rem 0.3125rem rgba(0, 0, 0, 0.25);
    .titleBestSell {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-top: 1.25rem;
        h1 {
            color: #EF471E;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: bold;
            line-height: 2.0625rem;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
        }
        img {
            height: 3.125rem;
        }
        .leftFire {
            margin-left: 18.125rem;
        }
        .rightFire {
            margin-right: 9.375rem;
        }
        .btnMore {
            background-color: #EF471E;
            color: #fff;
            &:hover {
                opacity: 80%;
            }
        }
    }
    .imgProduct, .imgProduct2 {
        display: flex;
        height: 14.375rem;
        justify-content: center;
        overflow: hidden;
        img {
            height: 120%;
        }
    }

    .imgProduct:hover img, .imgProduct2:hover img {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .framePro {
        .salePrice2 {
            position: absolute;
            top: 1.4375rem;
            width: 5rem;
            left: -2.5rem;
            font-size: 0.875rem;
            color: #fff;
            z-index: 2;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .framePro > div, .framePro2 > div {
        height: 24.375rem;
    }

    .framePro::after {
        content: "";
        width: 5rem;
        height: 2.5rem;
        background-color: #EF471E;
        position: absolute;
        top: 0.9375rem;
        left: 0.625rem;
        z-index: 1;
        border-radius: 1.25rem;
        box-shadow: 0.0306rem 0.1224rem 0.1224rem rgba(0, 0, 0, 0.25);
    }

    .framePro2 {
        left: 50.8%;
        position: relative;
        top: 15%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        .salePrice {
            position: absolute;
            width: 5rem;
            top: 1.25rem;
            right: -2.1875rem;
            font-size: 0.875rem;
            color: #fff;
            z-index: 2;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .framePro2::before {
        content: "";
        width: 5rem;
        height: 2.5rem;
        background-color: #EF471E;
        position: absolute;
        top: 0.9375rem;
        right: -0.3125rem;
        z-index: 1;
        border-radius: 1.25rem;
        box-shadow: 0.0306rem 0.1224rem 0.1224rem rgba(0, 0, 0, 0.25);
    }

    .productBest {
        color: #000;
        padding: 0.9375rem 0.9375rem 0;
        .productName, .productInfo {
            width: 96%;
        }

        .productName {

        }

        .productInfo {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.625rem;

            .prevPrice {
                color: #999;
                text-decoration: line-through;
                margin-right: 5rem;
            }

            .newPrice {
                font-weight: bold;
                color: #E280AD;
                text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(103, 0, 76, 0.13);
            }

            .rateStar {
                display: flex;
            }
        }
    }
    
    .btnAdd, .btnAdd2 {
        @include btn;
    }

    .productBest2 {
        color: #000;
        padding: 0.9375rem 0.9375rem 0;
        line-height: 1.5625rem;
        .productName2, .productInfo2 {
            width: 96%;
            font-size: 1rem;
        }
    
        .productName2 {
    
        }
    
        .productInfo2 {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.625rem;
            .prevPrice2 {
                color: #999;
                text-decoration: line-through;
                margin-right: 5rem;
            }
    
            .newPrice2 {
                font-weight: bold;
                color: #E280AD;
                text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(103, 0, 76, 0.13);
            }
    
            .rateStar2 {
                display: flex;
            }
        }

    }

}

.limitText2 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popularProduct {
    width: 100%;
    padding: 1.25rem 3.125rem;
    .popularTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2.1875rem;
        padding-bottom: 0.625rem;
        color: #19b1ff;
        text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    }

    .popularDes {
        font-size: 1.125rem;
        color: #000;
        margin-bottom: 0.9375rem;
        @include limitText3;
    }

    .popularFrame {
        display: flex;
        height: 32.5rem;
        box-shadow: 0.0625rem 0.1875rem 1.25rem 0.1875rem rgb(74 74 74 / 25%);
        background-image: linear-gradient(45deg, #a7cadb, #CAEDFF);
        border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
        
        .leftPopFrame{
            flex: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img {
                height: 85%;
            }
        }

        .centerPopFrame {
            flex: 1;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            img {
                height: 85%;
            }
        }

        .rightPopFrame {
            flex: 1;
            padding: 3.125rem;
            .rightTitle {
                position: absolute;
                // left: -1%;
                color: #47c0ff;
                font-size: 4.375rem;
                font-weight: bold;
                text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
            }

            .rightPrice {
                color: #19b1ff;
                font-size: 2.8125rem;
                font-weight: bold;
                padding-bottom: 1.25rem;
            }

            .rightButton {

            }
        }
        
    }
}

.latestProduct {
    padding: 0.625rem 3.125rem 1.25rem 3.125rem;
    .latestTitle {
        text-align: center;
        font-weight: bold;
        font-size: 2.1875rem;
        padding-bottom: 1.25rem;
        color: #d977a9;
        text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    }
    .frameBtnAll {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.1875rem;
        .btnAll {
            color: #fff;
            background-color: #be226b;
            border-radius: 1.875rem;
            &:hover {
                background-color: #ee1f6b;
                opacity: 95%;
            }
        }
    }
}

.encourageBuy {
    margin: 2.5rem 3.125rem 0.9375rem 3.125rem;
    display: flex;
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
    background-color: #B0D3FF;
    box-shadow: 0.0625rem 0.25rem 2.25rem 0.3125rem rgba(0, 0, 0, 0.25);
    .leftEncourage{
        display: flex;
        justify-content: center;
        img {
            height: 90%;
            scale: 125%;
        }
    }
    
    .rightEncourage {
        padding: 3.125rem 3.75rem 4.6875rem 0;
        h1 {
            color: #fff;
            font-size: 3.125rem;
            font-weight: bold;
            text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
            line-height: 1.2;
        }
    
        p {
            margin: 1.25rem 0;
            color: #fff;
            @include limitText5;
            text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
        }
    
        .frameBtnEncourage {
            display: flex;
            justify-content: left;
            .buyNow {
                margin-left: 0;
                color: #fff;
                background-color: #EF471E;;
                &:hover {
                    opacity: 80%;
                }
            }
        }
    }

}

.whyShop {
    margin: 2.5rem 3.125rem;
    .whyTitle {
        display: flex;
        justify-content: center;
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 2.1875rem;
            padding-bottom: 2.1875rem;
            color: #000;
            text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
        }
    }
    .methodDelivery {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.1875rem;
        .method {
            padding: 1.25rem;
            border-radius: 1.875rem;
            box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.25);
            margin: 0 0.625rem;
            -webkit-border-radius: 1.875rem;
            -moz-border-radius: 1.875rem;
            -ms-border-radius: 1.875rem;
            -o-border-radius: 1.875rem;
            .iconDelivery {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5.3125rem;
                img {
                    height: 100%;
                }
            }
            h3 {
                padding-top: 0.3125rem;
                padding-bottom: 0.3125rem;
                color: #ef5d30;
                text-align: center;
                font-size: 1.5625rem;
                font-weight: bold;
                text-shadow: 0.0625rem 0.125rem 0.125rem rgba(97, 97, 97, 0.25);
            }
            p {
                @include limitText3;
            }
        }
    }
}
