.listOrder {
    width: 100%;
    min-height: 8%;
    height: 3.125rem;
    font-size: 1.125rem;
    border: 0.0313rem solid #d4d4d4;
    box-shadow: 0.0625rem 0.0313rem 0.0313rem 0.0625rem rgba(155, 155, 155, 0.25);
    overflow: auto;
    tr
    {   
        height: 5.625rem;
        text-align: center;
        td {
            max-width: 12.5rem;
        }
    }
}

.btnCancel {
    margin-left: 2.5rem;
    background-color: red;
    color: #fff;
    &:hover {
        opacity: 80%;
        background-color: red;
    }
}

.btnCancelDisable {
    margin-left: 2.5rem;
    background-color: grey;
    color: #fff;
    cursor: not-allowed;
    &:hover {
        cursor: not-allowed;
        opacity: 100%;
        background-color: grey;
        color: #fff;
    }
}

.btnCancelChild {
    background-color: grey;
    color: #fff;
    cursor: not-allowed;
    border-radius: 1.875rem;

    &:hover {
        cursor: not-allowed;
        opacity: 100%;
        background-color: grey;
        color: #fff;
    }
}

.infoOrder {
    font-size: 1.25rem;
    h1 {
        padding: 0.625rem 0;
        font-weight: bold;
        span {
            font-weight: normal;
        }
    }
}
