.sidebarTitle {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 0.3125rem;
}

.sidebar {
    width: 100%;
    position: relative;
    height: 100%;
    border-right: 0.125rem solid #e5e5e5;
    border-bottom: 0.125rem solid #e5e5e5;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.logoContainer {
    margin-bottom: 2rem;
}

.logoContainer h1 {
    margin-top: 1.3rem;
    color: #fff;
}
