.imgCartPro {
    padding: 0.625rem;
    height: 100%;
    width: 7.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    img
    {   
        border-radius: 0.625rem;
        -webkit-border-radius: 0.625rem;
        -moz-border-radius: 0.625rem;
        -ms-border-radius: 0.625rem;
        -o-border-radius: 0.625rem;
    }
}
@mixin limitText2 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartProInfo {
    padding: 0.625rem 0;
    width: 38%;
    font-size: 0.9375rem;
    h1 {
        @include limitText2;
        font-weight: 500;
        height: 48%;
    }
    h3 {

    }
}

.counter {
    margin-left: 0;
    width: 6.5625rem;
    font-size: 1rem;
    span {
        font-size: 1.25rem;
    }
    input {
        width: 2.125rem;
    }
}

.proPrice {
    margin: 3rem 0 0 3.125rem;
    font-size: 1rem;
    font-weight: 500;
    h3 {
        width: 5rem;
        overflow: hidden;
    }
}

.totalPrice {

}

.removeCartProduct {
    margin: auto;
    color: red;
    cursor: pointer;
    font-size: 1rem;
}

.cartProductContainer {
    display: flex;
    height: 7.5rem;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0.0306rem 0.0286rem 0.1849rem;
    margin-bottom: 1.25rem;
}