.header {
    padding: 5px 40px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #F2BED1 0%, #FBE3CE 0.01%, #F1C1D2 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

.logo {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    scale: 0.9;
}

.lineHeader {
    width: 3px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FFF;
    position: absolute;
    left: 17%;
    top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.category {
    height: 100%;
    .categoryList {
        font-style: none;
        display: flex;
        justify-content: center;
        height: 100%;
        li, a {
            padding: 0 15px;
            color: black;
            font-size: 16px;
            display: flex;
            align-items: center;
            &:hover {
                color: #f8508d;
                cursor: pointer;
            }
        }
    }
}

.cpnHeader3 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.headerSearch {
    display: flex;
    height: 40px;
    width: 50%;
    align-items: center;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
    margin-right: 10px;
}

.searchIcon {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 15px;
}

.searchInput {
    outline: none;
    background-color: transparent;
    width: 81%;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &::before {
        content: "";
        width: 13%;
        height: 37%;
        top: 2%;
        position: absolute;
        z-index: 3;
    }
    &:hover {
        opacity: 0.8;
    }
    .cartIcon {
        color: #FFF;
        font-size: 25px;
        margin: 0 10px;
        &:hover {
            cursor: pointer;
            opacity: 80%;
        }
    }
    label {
        z-index: 2;
        position: relative;
        left: -23%;
        top: -12px;    
        color: #fff;
    }
    &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: red;
        position: relative;
        top: -12px;
        right: 42%;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 1px solid #fff;
}
}

.userInfo {
    cursor: pointer;
    display: flex;
    width: 185px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    &:hover .dropdownContent {
        display: block;
    }
    &:hover .imgAvatar {
        background-color: #3e8e41;
      }
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 113%;
        right: 7%;
        border-radius: 10px;
        &::before {
            content: "";
            height: 30px;
            width: 100%;
            position: absolute;
            top: -10%;
        }
    }
    .dropdownContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #f0ededb5;
            width: 96.5%;
            transform: translateX(5.5px);
            transition: transform 0.3s ease;
            //position: relative;
            //left: 2px;
            box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
            border-radius:10px;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            -ms-border-radius:10px;
            -o-border-radius:10px;
            -webkit-transform: translateX(5.5px);
            -moz-transform: translateX(5.5px);
            -ms-transform: translateX(5.5px);
            -o-transform: translateX(5.5px);
            -webkit-transition: transform 0.3s ease;
            -moz-transition: transform 0.3s ease;
            -ms-transition: transform 0.3s ease;
            -o-transition: transform 0.3s ease;
}
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
        color: #f46a2b;
        text-shadow: 0px 2px 2px #c9b9b1;
        width: 91px;
        overflow: hidden;
        text-align: right;
    }
    .imgAvatar {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
        border: 3px solid #fff;
        height: 45px;
        border-radius: 30px;
        overflow: hidden;
        margin-left: 13px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        &:hover {
            scale: 105%;
        }
        img{
            height: 100%;
            
        }
    }
}

.toastPosition {
    bottom: -5.3rem !important;
  }