.header {
    padding: 0.3125rem 2.5rem;
    flex-shrink: 0;
    background: linear-gradient(5deg, #F2BED1 0%, #ffd3ad 0.01%, #F1C1D2 100%);
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.75rem;
    z-index: 100;
    user-select: none;
}

.logo {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    scale: 0.9;
}

.lineHeader {
    width: 0.1875rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-color: #FFF;
    position: absolute;
    left: 17%;
    top: 0.3125rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

.category {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .categoryList {
        display: flex;
        justify-content: center;
        height: 80%;
        gap: 1.25rem;
        li, a {
            padding: 0 0.75rem;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            color: #2a2a2a;
            font-weight: 600;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.cpnHeader3 {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.25rem;
}

.headerSearch {
    display: flex;
    height: 2.5rem;
    width: 50%;
    align-items: center;
    border-radius: 1.5rem;
    background: #FFF;
    box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.20);
    margin-right: 0.625rem;
}

.searchIcon {
    margin-left: 0.9375rem;
    margin-right: 0.625rem;
    font-size: 0.9375rem;
}

.searchInput {
    outline: none;
    background-color: transparent;
    width: 81%;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        width: 1.375rem;
        height: 2.8125rem;
        position: absolute;
        z-index: 3;
    }
    &:hover {
        opacity: 0.8;
    }
    .cartIcon {
        position: relative;
        color: #FFF;
        font-size: 1.5625rem;
        &:hover {
            cursor: pointer;
            opacity: 80%;
        }
    }
    .bgNumCart {
        position: absolute;
        color: #fff;
        z-index: 2;
        text-align: center;
        top: -0.625rem;
        right: -0.625rem;
        background-color: red;
        border-radius: 1.25rem;
        box-shadow: 0.125rem 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
        border: 0.0625rem solid #fff;
        width: 1.4375rem;
        height: 1.4375rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        -ms-border-radius: 1.25rem;
        -o-border-radius: 1.25rem;
    }
}

.userInfo {
    cursor: pointer;
    display: flex;
    width: 11.5625rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.625rem;
    &:hover .dropdownContent {
        display: block;
    }
    &:hover .imgAvatar {
        background-color: #3e8e41;
      }
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 10rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
        z-index: 1;
        top: 113%;
        right: 16.5%;
        border-radius: 0.625rem;
        &::before {
            content: "";
            height: 1.875rem;
            width: 100%;
            position: absolute;
            top: -10%;
        }
    }
    .dropdownContent a {
        color: black;
        padding: 0.75rem 1rem;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #f0ededb5;
            width: 96.5%;
            transform: translateX(0.3438rem);
            transition: transform 0.3s ease;
            //position: relative;
            //left: 0.125rem;
            box-shadow: 0 0.25rem 0.75rem 0 rgba(0,0,0,0.2);
            border-radius: 0.625rem;
            -webkit-border-radius: 0.625rem;
            -moz-border-radius: 0.625rem;
            -ms-border-radius: 0.625rem;
            -o-border-radius: 0.625rem;
            -webkit-transform: translateX(0.3438rem);
            -moz-transform: translateX(0.3438rem);
            -ms-transform: translateX(0.3438rem);
            -o-transform: translateX(0.3438rem);
            -webkit-transition: transform 0.3s ease;
            -moz-transition: transform 0.3s ease;
            -ms-transition: transform 0.3s ease;
            -o-transition: transform 0.3s ease;
}
    }
    h3 {
        font-size: 1rem;
        font-weight: bold;
        color: #f46a2b;
        text-shadow: 0 0.125rem 0.125rem #c9b9b1;
        width: 5.75rem;
        overflow: hidden;
        text-align: right;
    }
    .imgAvatar {
        box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.20);
        border: 0.1875rem solid #fff;
        height: 2.8125rem;
        border-radius: 1.875rem;
        overflow: hidden;
        margin-left: 0.8125rem;
        -webkit-border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -ms-border-radius: 1.875rem;
        -o-border-radius: 1.875rem;
        &:hover {
            scale: 105%;
        }
        img{
            height: 100%;
            
        }
    }
}

.buttonActionWrapper {
    display: flex;
    gap: 0.625rem;
    & div {
        border-radius: 0.5rem;
    }
    & .buttonRegister {
        & a {
            color: #db4a81;
        }
        &:hover {
            opacity: 0.85;
            background-color: rgb(249, 247, 248);
            transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
    }
    & .buttonLogin {
        background-color: transparent;
        box-shadow: none;
        & a {
            color: #FFF;
            width: fit-content;
            text-shadow: 0.0625rem 0.0625rem 0.0625rem #ccc;
        }
        &:hover {
            background-color: rgb(255 255 255 / 0.3);
            color: 2a2a2a;
            transition: background-color 0.3s ease-in-out;
        }
    }
}

.toastPosition {
    bottom: -5.3rem !important;
}

.dropdownLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 0.9375rem;
}

.dropdownLinkLogout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    font-size: 0.9375rem;
}