.title
{
    font-weight: 500;
    padding-bottom: 0.625rem;
    color: #E280AD;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(103, 0, 76, 0.13);
    font-size: 2.1rem;
    line-height: 2rem;
}
.baseInput {
    cursor: default;
    width: 100%;
    height: 2.5rem;
    border: 0.0625rem solid #e5e5e5;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.25);
    margin: 0.625rem 0;
    outline: none;
    font-size: 0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    border-radius: 1.875rem;
}

.readOnlyInput {
    background-color: #e5e5e5;
    color: #000;
    user-select: none;
}