.bodyRegister {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('~/assets/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 26.25rem;
    background: transparent;
    border: 0.125rem solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
    padding: 1.875rem 2.5rem;
}

.wrapper h1 {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}

.wrapper .inputBox {
    position: relative;
    width: 100%;
    height: 3.125rem;
    margin: 1.875rem 0 0 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0.125rem solid rgba(255, 255, 255, .2);
    border-radius: 2.5rem;
    font-size: 1rem;
    padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
}

.inputBox input::placeholder {
    color: #fff;
}

.inputBox .icon {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 1rem;
}

.wrapper .rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.90625rem;
    margin: -0.9375rem 0 0.9375rem;
    padding-top: 2.5rem;
}

.rememberForgot label input {
    accent-color: #fff;
    margin-right: 0.25rem;
}

.rememberForgot a {
    color: #fff;
    text-decoration: none;
}

.rememberForgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 2.8125rem;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover {
    background-color: #e4a38b;
    color: #fff;
}

// .wrapper button:disabled {
//     background-color: #fff;
//     color: #333;
//     cursor: default;
// }


.wrapper .loginLink {
    font-size: 0.90625rem;
    text-align: center;
    margin-top: 1.25rem 0 0.9375rem;
}

.loginLink p {
    padding-top: 0.625rem;
}

.loginLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.loginLink p a:hover {
    text-decoration: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    position: relative;
    line-height: 1.5rem;
    padding: 0.625rem 0 0.3125rem 0.625rem;
    top: 0.9375rem;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offScreen {
    position: absolute;
    left: -624.9375rem;
}

.hide {
    display: none;
}

.wrapper .removeBottomInputMargin {
    margin-bottom: 0;
}

@mixin fixLocation {
    position: absolute;
    top: 35%;
    left: -9%;
}

.valid {
    @include fixLocation;
    color: limegreen;
    margin-left: 0.25rem;
    
}

.invalid {
    @include fixLocation;
    color: red;
    margin-left: 0.25rem;
}

.errMsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 1.5625rem;
}

.line {
    display: inline-block;
}
